body{
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: #f3f4f6;
  font-family: Arial, sans-serif;
}

.pokedex-forma{
  width: min(900px, 95%);
  background: #dc2626;
  border: 8px solid #991b1b;
  border-radius: 18px;
  padding: 24px;
}

.cargando{
  color: white;
  font-weight: bold;
  text-align: center;
}


/* Luces de la parte de arriba de la pokedex */
.pokedex-superior{
  display: flex;
  gap: 12px;
  padding: 16px;
  border-bottom: 4px solid #991b1b;
}

.luz-principal{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: radial-gradient(circle, #60a5fa, #2563eb);
  border: 4px solid white;
}

.luz-pequena{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #551111;
  margin-top: 10px;
}

.roja{ background: #ef4444; }
.amarilla{ background: #facc15; }
.verde{ background: #22c55e; }